<strong>Olá, {{ deliveryMan }}</strong>
<p>Houve um cadastro de encomenda para você, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipientName }} <br />
  <strong>Endereço: </strong> {{ adress }} <br />
  <br />
  <small>
    Lembre-se que o horário de retirada é entre 08:00 e 18:00.
  </small>
</p>